MedImageInsight/2024.09.27/config.yaml
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/merges.txt
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/special_tokens_map.json
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/tokenizer_config.json
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/vocab.json
MedImageInsight/2024.09.27/vision_model/medimageinsigt-v1.0.0.pt
Results/CheXpert/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/MIMIC/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_diseaseconfusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/VinDR/confusion_matrix_test.png
Results/VinDR/VinDR_combined_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_combined_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_findings_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_findings_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_full_report_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
data/CheXpert-v1.0-512/images
data/CheXpert-v1.0-512/images
data/MIMIC-v1.0-512/files
data/vindr-pcxr/1.0.0/test
data/vindr-pcxr/1.0.0/train
Results/VinDR-AdapterFT/Adapter_FT_adapter_ft_VinDR/best_metric_model.pth
Results/VinDR-AdapterFT/Adapter_FT_adapter_ft_VinDR/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_MLP/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_MLP/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding_single_disease/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_single_disease/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_single_disease/test_confusion_matrix.png
Results/VinDR/VinDR_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_vte/confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia/confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/VinDR/knn_model/Test_confusion_matrix.png
Results/VinDR/knn_model/Validation_confusion_matrix.png
Results/MIMIC-v1.0-512/best_model.pth
Results/MIMIC-AdapterFT/Adapter_FT_adapter_ft_MIMIC/best_metric_model.pth
Results/MIMIC-AdapterFT/Adapter_FT_adapter_ft_MIMIC/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_MLP/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_MLP/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding_single_disease/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_single_disease/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_single_disease/test_confusion_matrix.png
Results/CheXpert-AdapterFT/Adapter_FT_adapter_ft_CheXpert/best_metric_model.pth
Results/CheXpert-AdapterFT/Adapter_FT_adapter_ft_CheXpert/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_MLP/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_MLP/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding_single_disease/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_single_disease/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_single_disease/test_confusion_matrix.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_vte/confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia/confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/CheXpert/knn_model/Test_confusion_matrix.png
Results/CheXpert/knn_model/Validation_confusion_matrix.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_vte/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia/confusion_matrix_test.png
Results/MIMIC/knn_model/Test_confusion_matrix.png
Results/MIMIC/knn_model/Validation_confusion_matrix.png
data/CheXpert-v1.0-512/test.csv
data/CheXpert-v1.0-512/train.csv
data/CheXpert-v1.0-512/val.csv
data/text_embeddings/average_embeddings_2_no_finding.npy
data/text_embeddings/average_embeddings_2_single_pneumonia_no_finding.npy
data/text_embeddings/average_embeddings_2.npy
data/text_embeddings/embeddings_92_no_finding.npy
data/text_embeddings/embeddings_92_single_pneumonia_no_finding.npy
data/text_embeddings/embeddings_92.npy
data/MIMIC-v1.0-512/test_expert.csv
data/MIMIC-v1.0-512/test.csv
data/MIMIC-v1.0-512/train.csv
data/MIMIC-v1.0-512/val.csv
data/vindr-pcxr/test.csv
data/vindr-pcxr/train.csv
data/vindr-pcxr/val.csv
