MedImageInsight/2024.09.27/config.yaml
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/merges.txt
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/special_tokens_map.json
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/tokenizer_config.json
MedImageInsight/2024.09.27/language_model/clip_tokenizer_4.16.2/vocab.json
MedImageInsight/2024.09.27/vision_model/medimageinsigt-v1.0.0.pt
Results/CheXpert/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/CheXpert/impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/MIMIC/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_diseaseconfusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/VinDR/confusion_matrix_test.png
Results/VinDR/VinDR_combined_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_combined_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_findings_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_findings_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_full_report_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
Results/VinDR/VinDR_impressions_zeroshot_Pneumonia_n10_compare_to_mimic/confusion_matrix_test.png
Results/VinDR/VinDR_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_single_disease/confusion_matrix_test.png
data/CheXpert-v1.0-512/images
data/CheXpert-v1.0-512/images
data/MIMIC-v1.0-512/files
data/vindr-pcxr/1.0.0/test
data/vindr-pcxr/1.0.0/train
Visualization
Results/VinDR-AdapterFT/Adapter_FT_adapter_ft_VinDR/best_metric_model.pth
Results/VinDR-AdapterFT/Adapter_FT_adapter_ft_VinDR/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_MLP/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_MLP/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding_single_disease/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_single_disease/best_metric_model.pth
Results/VinDR-AdapterFT/VinDR-AdapterFT_VinDR_mlp_single_disease/test_confusion_matrix.png
Results/VinDR/VinDR_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/VinDR/VinDR_vte/confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia/confusion_matrix_test.png
Results/VinDR/VinDR_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/VinDR/knn_model/Test_confusion_matrix.png
Results/VinDR/knn_model/Validation_confusion_matrix.png
Results/MIMIC-v1.0-512/best_model.pth
Results/MIMIC-AdapterFT/Adapter_FT_adapter_ft_MIMIC/best_metric_model.pth
Results/MIMIC-AdapterFT/Adapter_FT_adapter_ft_MIMIC/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_MLP/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_MLP/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding_single_disease/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_single_disease/best_metric_model.pth
Results/MIMIC-AdapterFT/MIMIC-AdapterFT_MIMIC_mlp_single_disease/test_confusion_matrix.png
Results/CheXpert-AdapterFT/Adapter_FT_adapter_ft_CheXpert/best_metric_model.pth
Results/CheXpert-AdapterFT/Adapter_FT_adapter_ft_CheXpert/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_MLP/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_MLP/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding_single_disease/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_no_finding_single_disease/test_confusion_matrix.png
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_single_disease/best_metric_model.pth
Results/CheXpert-AdapterFT/CheXpert-AdapterFT_CheXpert_mlp_single_disease/test_confusion_matrix.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_combined_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_findings_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_full_report_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_compare_to_mimic_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/CheXpert/CheXpert_impressions_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/CheXpert/CheXpert_vte/confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia/confusion_matrix_test.png
Results/CheXpert/CheXpert_zeroshot_Pneumonia_single_disease/confusion_matrix_test.png
Results/CheXpert/knn_model/Test_confusion_matrix.png
Results/CheXpert/knn_model/Validation_confusion_matrix.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_single_disease_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_no_finding_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_single_disease_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-ray_chest_anteroposteriorconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-ray_chestconfusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia_x-rayconfusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_combined_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_findings_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_full_report_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_no_finding/confusion_matrix_test.png
Results/MIMIC/MIMIC_impressions_zeroshot_Pneumonia_n10_no_finding_single_disease/confusion_matrix_test.png
Results/MIMIC/MIMIC_vte/confusion_matrix_test.png
Results/MIMIC/MIMIC_zeroshot_Pneumonia/confusion_matrix_test.png
Results/MIMIC/knn_model/Test_confusion_matrix.png
Results/MIMIC/knn_model/Validation_confusion_matrix.png
data/CheXpert-v1.0-512/test.csv
data/CheXpert-v1.0-512/train.csv
data/CheXpert-v1.0-512/val.csv
data/text_embeddings/average_embeddings_2_no_finding.npy
data/text_embeddings/average_embeddings_2_single_pneumonia_no_finding.npy
data/text_embeddings/average_embeddings_2.npy
data/text_embeddings/embeddings_92_no_finding.npy
data/text_embeddings/embeddings_92_single_pneumonia_no_finding.npy
data/text_embeddings/embeddings_92.npy
data/MIMIC-v1.0-512/test_expert.csv
data/MIMIC-v1.0-512/test.csv
data/MIMIC-v1.0-512/train.csv
data/MIMIC-v1.0-512/val.csv
data/vindr-pcxr/test.csv
data/vindr-pcxr/train.csv
data/vindr-pcxr/val.csv
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaModel.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaModel.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/Densenet/__pycache__/dataset.cpython-38.pyc
predictions/Densenet/__pycache__/utils_densenet.cpython-38.pyc
predictions/Densenet/__pycache__/utils.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/model/__pycache__/adapter_training.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/model/__pycache__/adapter_training.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/model/__pycache__/adapter_training.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/run-20250219_000811-6g4k4wir/run-6g4k4wir.wandb
wandb/run-20250219_000811-6g4k4wir/files/config.yaml
wandb/run-20250219_000811-6g4k4wir/files/output.log
wandb/run-20250219_000811-6g4k4wir/files/wandb-metadata.json
wandb/run-20250219_000811-6g4k4wir/files/wandb-summary.json
wandb/run-20250219_000811-6g4k4wir/logs/debug-core.log
wandb/run-20250219_000811-6g4k4wir/logs/debug-internal.log
wandb/run-20250219_000811-6g4k4wir/logs/debug.log
data.zip
.gitignore
Visualization/Data/chexpert_prediction_changes.csv
Visualization/Data/Extended_MIMIC__CheXpert__and_VinDR_Results.csv
Visualization/Data/MCC_Values_DataFrame.csv
Visualization/Data/mimic_prediction_changes.csv
Visualization/Data/vindr_prediction_changes.csv
deprecated/totest/__pycache__/utils_ensemble.cpython-38.pyc
deprecated/totest/__pycache__/utils.cpython-38.pyc
deprecated/totest/__pycache__/WeightedPromptEnsemble.cpython-38.pyc
deprecated/mlp.py
deprecated/vte copy.py
deprecated/vte.py
deprecated/zeroshot_report copy.py
deprecated/totest/max_logit.py
deprecated/totest/test_generate_avg_text_embeddings.ipynb
deprecated/totest/utils_ensemble.py
deprecated/totest/weighted_prompts.py
deprecated/totest/weighted_promptscopy.py
predictions/__pycache__/config.cpython-38.pyc
predictions/__pycache__/data_loader.cpython-38.pyc
predictions/__pycache__/metrics.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/__pycache__/weighted_promptscopy.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaModel.cpython-38.pyc
predictions/model/__pycache__/adapter_training.cpython-38.pyc
predictions/model/__pycache__/model.cpython-38.pyc
predictions/model/__pycache__/weighted_prompts.cpython-38.pyc
predictions/model/__pycache__/WeightedPromptEnsemble.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaModel.cpython-38.pyc
predictions/__pycache__/utils.cpython-38.pyc
data/text_embeddings/average_embeddings_2_no_finding_report.npy
data/text_embeddings/average_embeddings_2_no_finding_template.npy
data/text_embeddings/embeddings_92_no_finding_report.npy
data/text_embeddings/embeddings_92_no_finding_template.npy
data/text_embeddings/generate_vte_text_embeddings.ipynb
data/text_embeddings/max_embeddings_2_no_finding_report.npy
data/text_embeddings/max_embeddings_2_no_finding_template.npy
data/text_embeddings/max_embeddings_2_no_finding.npy
data/text_embeddings/MIMIC/filtered_averaged_embeddings_MIMIC.npy
data/text_embeddings/VinDR/filtered_averaged_embeddings_VinDR.npy
data/text_embeddings/imagenet/averaged_embeddings_imagenet_plus_prompts_templates.npy
data/text_embeddings/imagenet/averaged_embeddings_imagenet_templates.npy
data/text_embeddings/shuffled/averaged_embeddings_shuffled_templates_fixed_label_small_letter.npy
data/text_embeddings/shuffled/averaged_embeddings_shuffled_templates_fixed_label.npy
data/text_embeddings/shuffled/averaged_embeddings_shuffled_templates.npy
data/text_embeddings/generate_vte_text_embeddings.ipynb
MedImageInsight/LangEncoder/__pycache__/__init__.cpython-39.pyc
MedImageInsight/LangEncoder/__pycache__/build.cpython-39.pyc
MedImageInsight/LangEncoder/__pycache__/registry.cpython-39.pyc
MedImageInsight/LangEncoder/__pycache__/transformer.cpython-39.pyc
MedImageInsight/ImageEncoder/__pycache__/__init__.cpython-39.pyc
MedImageInsight/ImageEncoder/__pycache__/build.cpython-39.pyc
MedImageInsight/ImageEncoder/__pycache__/coswin.cpython-39.pyc
MedImageInsight/ImageEncoder/__pycache__/davit_v1.cpython-39.pyc
MedImageInsight/ImageEncoder/__pycache__/registry.cpython-39.pyc
MedImageInsight/Distributed/__pycache__/__init__.cpython-39.pyc
MedImageInsight/Distributed/__pycache__/Utils.cpython-39.pyc
MedImageInsight/__pycache__/__init__.cpython-37.pyc
MedImageInsight/__pycache__/UniCLModel.cpython-37.pyc
MedImageInsight/Utils/__pycache__/__init__.cpython-39.pyc
MedImageInsight/Utils/__pycache__/Utils.cpython-39.pyc
predictions/__pycache__/utils.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaDataset.cpython-38.pyc
predictions/dataset/__pycache__/PneumoniaModel.cpython-38.pyc
/mnt/data2/datasets_lfay/MedImageInsights/data/CheXpert-v1.0-512
/mnt/data2/datasets_lfay/MedImageInsights/data/MIMIC-v1.0-512
/mnt/data2/datasets_lfay/MedImageInsights/data/vindr-pcxr